<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {%- liquid
      render 'vite-tag' with 'main.css'
      render 'vite-tag' with 'main.js'
    -%}
    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}
  </body>
</html>
